<section class="card">
  <h2>Material</h2>
  <p class="muted">Angular Material components and custom tree demos.</p>
  <div class="numbered-list grid-auto">
    <a [routerLink]="'mat-tree-mine'"><mat-icon>account_tree</mat-icon> Mat Tree (Mine)</a>
    <a [routerLink]="'mat-tree-net'"><mat-icon>account_tree</mat-icon> Mat Tree (Net)</a>
    <a [routerLink]="'mat-tree-net-copied'"
      ><mat-icon>content_copy</mat-icon> Mat Tree (Net Copied)</a
    >
    <a [routerLink]="'mat-tree-parent-mine-custom'"
      ><mat-icon>device_hub</mat-icon> Mat Tree (Parent Mine Custom)</a
    >
  </div>
</section>
