<section class="card">
  <h2>Linked Signal</h2>
  <div class="m-2">
    <div class="m-2">
      <label for="fahrenheitInput">Change Fahrenheit:</label>
      <input id="fahrenheitInput" type="text" [(ngModel)]="fahrenheit" />
    </div>
    <div class="m-2">
      <label for="celsiusInput">Change Celsius:</label>
      <input id="celsiusInput" type="text" [(ngModel)]="celsius" />
    </div>
  </div>

  <div class="m-2">
    <div class="m-2">
      <span class="font-medium"> Fahrenheit: </span>
      {{ fahrenheit() }}
    </div>
    <div class="m-2">
      <span class="font-medium"> Celsius: </span>
      {{ celsius() }}
    </div>
  </div>

  <span class="font-medium underline">Instructions:</span>
  <ul>
    <li>If celsius changes, fahrenheit updates using linked signal computation logic.</li>
    <li>Changing fahrenheit directly does not convert; the value is displayed as-is.</li>
  </ul>
</section>
