<section class="card">
  <h2>All Routes</h2>
  <p class="muted">Explore the sections below to try different Angular features.</p>
  <div class="numbered-list">
    <a [routerLink]="'/forms'">Forms</a>
    <a [routerLink]="'/rxjs'">RxJS</a>
    <a [routerLink]="'/material'">Material</a>
    <a [routerLink]="'/content-projection'">Content Projection</a>
    <a [routerLink]="'/routing-query-solution'">Routing Details</a>
    <a [routerLink]="'/performance'">Performance</a>
    <a [routerLink]="'/signal'">Signals</a>
  </div>
</section>
