.example-tree-invisible {
    display: none;
}

.example-tree ul,
.example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

/*
   * This padding sets alignment of the nested nodes.
   */
.example-tree .mat-nested-tree-node div[role=group] {
    padding-left: 40px;
}

/*
   * Padding for leaf nodes.
   * Leaf nodes need to have padding so as to align with other non-leaf nodes
   * under the same parent.
   */
.example-tree div[role=group]>.mat-tree-node {
    padding-left: 40px;
}

$pos-icon-left: -17px;
$bd-color: lightgreen;

@mixin verticalLineStyle {
    border-left: 1px solid $bd-color;
    content: '';
    position: absolute;
    left: $pos-icon-left;
    top: -24px;
    bottom: 24px;
    display: inline;

}

.expansion-container {

    .mat-tree-node {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            left: $pos-icon-left;
            border-top: 1px solid $bd-color;
            width: 30px;
        }

        &::after {
            @include verticalLineStyle()
        }
    }

    .mat-tree-nested-node {
        position: relative;
        display: block;

        &:not(:last-child)::before {
            @include verticalLineStyle()
        }
    }
}