<section class="card">
  <div class="p-2 flex gap-2">
    <button mat-raised-button (click)="print()">Console data</button>
    <button mat-raised-button color="primary" (click)="toggleTree()">Toggle tree</button>
  </div>
  <div *ngIf="showTree">
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree" #tree>
      <!-- This is the tree node template for leaf nodes -->
      <!-- There is inline padding applied to this node using styles.
      This padding value depends on the mat-icon-button width. -->
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
        <ng-template *ngTemplateOutlet="editContainer; context: { $implicit: node }"></ng-template>
      </mat-tree-node>
      <!-- This is the tree node template for expandable nodes -->
      <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
        <div class="mat-tree-node">
          <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
            </mat-icon>
          </button>
          <ng-template
            *ngTemplateOutlet="editContainer; context: { $implicit: node }"
          ></ng-template>
        </div>
        <!-- There is inline padding applied to this div using styles.
            This padding value depends on the mat-icon-button width.  -->
        <div [class.example-tree-invisible]="!treeControl.isExpanded(node)" role="group">
          <ng-container matTreeNodeOutlet></ng-container>
        </div>
      </mat-nested-tree-node>
    </mat-tree>

    <ng-template #editContainer let-nodeData>
      <ng-container *ngIf="nodeData?.edit; else showContent">
        <mat-form-field *ngIf="nodeData?.edit" appearance="outline" class="w-64">
          <mat-label>Node name</mat-label>
          <input matInput [(ngModel)]="nodeData.name" (blur)="saveNode(nodeData)" />
        </mat-form-field>
      </ng-container>
      <ng-template #showContent>
        <span>
          {{ nodeData.name }}
          <mat-icon (click)="editNode(nodeData)">edit</mat-icon>
          <mat-icon (click)="addNodeData(nodeData)">format_list_bulleted</mat-icon>
        </span>
      </ng-template>
    </ng-template>
  </div>
</section>
