<section class="card">
  <h2>Pipe vs Function</h2>
  <p>
    It seems the pipe template takes less time called but may be there is more memory consumption
    (Need to check)
  </p>
  <div class="font-bold text-red-500">Don’t go for pipe (the scripting takes too long)</div>

  <div class="p-2">
    See the console to get how many times pipe had been called. Number of times called -
    {{ this.insideFun }}
  </div>
  <div class="p-2">
    <button class="btn btn-primary" (click)="test()">Check function call count</button>
  </div>
  <br />
  <div>
    <strong>From Local Function:</strong>
    <span *ngFor="let data of arrayDatas"> {{ getLabelLocalFn(data) }} </span>
  </div>
  <br />
  <div>
    <strong>From Pipe:</strong>
    <span *ngFor="let data of arrayDatas"> {{ getLabel | getLabelPipe: data }} </span>
  </div>
</section>
