<mat-card>
  <h2>Pipe vs Function</h2>
  <p>
    It seems the pipe template takes less time called but may be there is more memory consumption
    (Need to check)
  </p>
  <div class="font-bold text-red-500 bg-red-50 dark:bg-transparent rounded px-2 inline-block">
    Don’t go for pipe (the scripting takes too long)
  </div>

  <div class="p-2">
    See the console to get how many times pipe had been called. Number of times called -
    @defer (on timer(0)) {
      {{ insideFun }}
    } @placeholder {
      0
    }
  </div>
  <div class="p-2">
    <button mat-raised-button color="primary" (click)="test()">Check function call count</button>
  </div>
  <br />
  <div class="p-2">
    <mat-card>
      <strong>From Local Function:</strong>
      <span *ngFor="let data of arrayDatas"> {{ getLabelLocalFn(data) }} </span>
    </mat-card>
  </div>
  <div class="p-2">
    <strong>From Pipe:</strong>
    <span *ngFor="let data of arrayDatas"> {{ getLabel | getLabelPipe: data }} </span>
  </div>
</mat-card>
