/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.numbered-list {
  counter-reset: link-counter;
  a {
    display: block;
  }
}

.numbered-list a::before {
  counter-increment: link-counter;
  content: counter(link-counter) ' => ';
}
