<mat-card>
  <h3>Address 1</h3>
  <form [formGroup]="form">
    <div class="p-2">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Name</mat-label>
        <input matInput id="name1" type="text" formControlName="name" />
        <mat-hint>Enter full name</mat-hint>
      </mat-form-field>
    </div>
    <div class="p-2">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Address</mat-label>
        <input matInput id="address1" type="text" formControlName="address" />
        <mat-hint>Street, city</mat-hint>
      </mat-form-field>
    </div>
  </form>
</mat-card>
