<section class="card">
  <h2>FormRecord Try</h2>
  <div class="p-2">
    <button mat-raised-button color="primary" (click)="check()">Print form value</button>
  </div>

  <form [formGroup]="addresses">
    <div *ngFor="let data of addresses.controls | keyvalue" class="p-2">
      <mat-checkbox [formControlName]="data.key">{{ data.key }}</mat-checkbox>
    </div>
  </form>

  <div class="p-2 stack-sm items-center">
    <mat-form-field appearance="outline" class="input-sm">
      <mat-label>New control name</mat-label>
      <input matInput type="text" #inputRef required />
      <mat-hint>e.g., Andrew</mat-hint>
    </mat-form-field>
    <button
      mat-raised-button
      (click)="addControl(inputRef.value)"
      [disabled]="!(inputRef.value && inputRef.value.trim().length)"
    >
      Add control
    </button>
  </div>
</section>
