<section class="card">
  <h2>FormRecord Try</h2>
  <div class="p-2">
    <button mat-raised-button color="primary" (click)="check()">Print form value</button>
  </div>

  <form [formGroup]="addresses">
    <div *ngFor="let data of addresses.controls | keyvalue" class="p-2">
      <mat-checkbox [formControlName]="data.key">{{ data.key }}</mat-checkbox>
    </div>
  </form>

  <div class="p-2 flex items-center gap-2">
    <mat-form-field appearance="outline" class="w-64">
      <mat-label>New control name</mat-label>
      <input matInput type="text" #inputRef />
    </mat-form-field>
    <button mat-raised-button (click)="addControl(inputRef.value)">Add control</button>
  </div>
</section>
