<section class="card">
  <h2>FormRecord Try</h2>
  <div class="p-2">
    <button class="btn btn-primary" (click)="check()">Print form value</button>
  </div>

  <form [formGroup]="addresses">
    <div *ngFor="let data of addresses.controls | keyvalue" class="p-2">
      <label>
        <input type="checkbox" [formControlName]="data.key" name="checkbox" />
        <span class="muted">{{ data.key }}</span>
      </label>
    </div>
  </form>

  <div class="p-2">
    <input type="text" #inputRef placeholder="New control name" />
    <button class="btn btn-light" (click)="addControl(inputRef.value)">Add control</button>
  </div>
</section>
